[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt5 = "*"
xinput-python = "*"
pynput = "*"
pyinstaller = "*"

[dev-packages]

[requires]
python_version = "3.7"
